:root {
  --red: hsl(0, 100%, 68%);

  --veryDarkBlue: hsl(230, 29%, 20%);
  --darkGrayishBlue: hsl(230, 11%, 40%);
  --grayishBlue: hsl(231, 7%, 65%);
  --lightGrayishBlue: hsl(207, 33%, 95%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  color: var(--veryDarkBlue);
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--veryDarkBlue);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

a:hover {
  border-bottom: 1px solid var(--veryDarkBlue);
}

a span,
.dot {
  color: var(--grayishBlue);
}

a span:hover {
  border-bottom: 1px solid var(--grayishBlue);
}

button {
  border: none;
  border-radius: 5px;
  background-color: var(--red);
  color: white;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  padding: 1.8rem 3rem;
  letter-spacing: 2px;
  margin-right: 2rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.wrapper {
  overflow: hidden;
}

.container {
  /* height: 80rem; */
  max-width: 111rem;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}

.wrapper::after {
  content: "";
  position: absolute;
  top: -50%;
  right: 0%;
  /* transform: translate(50%, 50%); */
  width: 80rem;
  height: 80rem;
  background-color: var(--lightGrayishBlue);
  border-radius: 100px;
  z-index: -1;
}

/* NAVIGATION */
.header {
  padding-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12rem;
}

.logo {
  flex: 3;
}

.nav {
  flex: 2;
}

.nav ul {
  display: flex;
  justify-content: space-between;
}

/* SECTION */
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18rem;
}

.left {
  flex: 2;
  /* margin-left: 16.5rem; */
}

.light-text {
  color: var(--darkGrayishBlue);
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 4px;
}

.light-text span {
  color: white;
  background-color: var(--veryDarkBlue);
  font-weight: bold;
  padding: 0.8rem 1rem;
  border-radius: 100px;
  letter-spacing: 2px;
  margin-right: 1rem;
}

.sub-heading {
  margin-bottom: 3rem;
}

.description {
  margin-bottom: 6rem;
}

.preview {
  display: inline;
}

.right {
  position: relative;
  flex: 3;
}

.right::after {
  content: "";
  position: absolute;
  background-image: url(./images/illustration-devices.svg);
  top: 0;
  left: 0;
  transform: translate(10%, -40%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  height: 46rem;
  width: 100rem;
}
